@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-sec{
  background-image: url(../public/assets/blockchain-image.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  --tw-bg-opacity: 0.5
}